# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/compiler.xml
/misc.xml
/Project.iml
/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_2_0_10.xml
/inspectionProfiles/Project_Default.xml
/libraries/Gradle__org_junit_platform_junit_platform_engine_1_10_1.xml
/libraries/Gradle__org_junit_platform_junit_platform_launcher_1_10_1.xml
/modules.xml
/gradle.xml
/modules/RouteAnalyzer.test.iml
/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_serialization_core_jvm_1_6_0.xml
/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/vcs.xml
/libraries/Gradle__org_apiguardian_apiguardian_api_1_1_2.xml
/modules/RouteAnalyzer.main.iml
/jarRepositories.xml
/modules/RouteAnalyzer.iml
/libraries/Gradle__org_junit_jupiter_junit_jupiter_engine_5_10_1.xml
/uiDesigner.xml
/libraries/Gradle__org_jetbrains_kotlin_kotlin_test_2_0_10.xml
/kotlinc.xml
/libraries/Gradle__org_junit_jupiter_junit_jupiter_api_5_10_1.xml
/libraries/Gradle__org_jetbrains_kotlin_kotlin_test_junit5_2_0_10.xml
/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_serialization_json_jvm_1_6_0.xml
/libraries/Gradle__org_junit_platform_junit_platform_commons_1_10_1.xml
/libraries/Gradle__org_opentest4j_opentest4j_1_3_0.xml
